<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{user.username}} - Settings</title>
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="../static/css/theme.css">
	<link href="../static/bootstrap3-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
	
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	
	<script src="../static/bootstrap3-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
</head>

<body>
     <div class="hidden-xs hidden-sm vertical-nav">
        <h4>Welcome, {{uid|get_reg_username}}</h4>
        <ul class="vertical-nav-list">
            <li class="vnav-li"><a href="/home" class="vnav-link"><span class="glyphicon glyphicon-home"></span> Home </a></li>
            <li class="vnav-li"><a href="#" class="vnav-link"><span class="glyphicon glyphicon-tasks"></span> Mission Control</a></li>
            <li class="vnav-li"><a href="#" class="vnav-link"><span class="glyphicon glyphicon-list-alt"></span> Mission Tracker</a></li>
            <li class="vnav-li"><a href="#" class="vnav-link"><span class="glyphicon glyphicon-gift"></span> Awards</a></li>
            <li class="vnav-li"><a href="#" class="vnav-link"><span class="glyphicon glyphicon-piggy-bank"></span> Store</a></li>
            <li class="vnav-li"><a href="#" class="vnav-link"><span class="glyphicon glyphicon-expand"></span> Play</a></li>
            <li class="vnav-li"><a href="/settings" class="active-link vnav-link"><span class="glyphicon glyphicon-cog"></span> Settings</a><span class="active-link traingle-left"> </span></li>
            <li class="vnav-li"><a href="/logout" class="vnav-link"><span class="glyphicon glyphicon-eject"></span> Logout</a></li>
        </ul>
    </div>
  	<div class="custom-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Player Info</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 setting-column"><span>Username: </span><span>{{user.username}} </span></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 setting-column"><span>Date Joined: </span><span>{{user.datejoined}} </span></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                        {% if tenure > 1 %}
                            <div class="col-md-12 setting-column"><span>Tenure: </span><span>{{tenure}} years</span></div>
                        {% else %}
                            <div class="col-md-12 setting-column"><span>Tenure: </span><span>{{tenure}} year</span></div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Personal Info</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 setting-column"><span>Date Of Birth: </span>

							<a href="#" id="dob" data-type="combodate" data-value="{{userinfo.dateofbirth}}" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D/MMM/YYYY" data-pk="{{uid}}" data-title="Select Date of birth">{{userinfo.dateofbirth}}</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 setting-column"><span>Gender: </span><a href="#" id="sex" data-type="select" data-pk="{{uid}}" data-value="{{userinfo.gender}}" data-url="/updategender/" data-title="Select gender">{{userinfo.gender}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Customize </h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 setting-column"><span>Favorite Color: </span><a href="#">Link</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vertical-bar"></div>
    <script type="text/javascript">
    $(document).ready(function() {
    	 $('#sex').editable({
   	        prepend: "None Selected",
   	        source: [
   	            {value: 'Male', text: 'Male'},
   	            {value: 'Female', text: 'Female'}
   	        ] 
   	    });  
    	 
    	$('#dob').editable();
    });
    </script>
</body>

</html>