.custom-header{
  background:black;
  padding:20px 40px;
  box-sizing:border-box;
  border-bottom:3px solid grey;
  border-radius:0;
}

.custom-header a.navbar-brand.navbar-link{
  color:#fff;
  font:normal 28px Montserrat, Ubuntu, Arial, Helvetica, sans-serif;
  line-height:0.5;
  margin-right:40px;
  background:black;
}

label.control-label{
  font-size:40px;
  float:right;
  font-family:'Montserrat';
}

div.row.life-form{
  margin:80px 80px;
  -webkit-box-shadow:6px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow:6px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow:6px 10px 5px 0px rgba(0,0,0,0.75);
}

input.form-control{
  font-size:40px;
  height:inherit;
}

input.form-control{
  font-family:'Montserrat';
}

button.btn.btn-default.form-control{
  font-family:'Montserrat';
  height:100px;
  font-size:30px;
}

