@CHARSET "ISO-8859-1";

body {
	background-image: url("../img/mainbg.jpg");
	z-index: 1;
}

h2 {
	text-align: center;
	color: white;
	font-weight: bold;
}

label { 
	color: white;
}

input[type='text'] {
	border: 2px black solid;
}

input[type='password'] {
	border: 2px black solid;
}

input[type='email'] {
	border: 2px black solid;
}

.container {
	background-color: rgba(114, 114, 114, 0.4);
	border-radius: 6px;
}