{% extends "layout.html" %}
<html>
<head>{% block head %} {{ super() }} {% endblock %}
</head>
<body>
	{% block nav %} {{ super() }} {% endblock %}
	<div class="container">
		{% block content %}
		<h2>Register</h2>
		<div class="alert alert-danger" role="alert"></div>
		<div class="col-xs-offset-3">
			<form action="" method="post" autocomplete="off">
				<div class="row">
					<div class="form-group col-xs-4">
						<label for="name">Name:</label> <input name="name" 
						 data-validation="length alphanumeric" data-validation-length="min1"
						 data-validation-error-msg="-Name is required" data-validation-allowing="' "
							type="text" placeholder="Name" class="form-control" />
					</div>
					<div class="form-group col-xs-4">
						<label for="email">Email:</label> <input name="email" 
						data-validation="email" data-validation-error-msg="-Invalid email address"
							type="email" placeholder="Email" class="form-control" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-8">
						<label for="username">Username:</label> <input name="username"
						data-validation="length alphanumeric" data-validation-length="5-50"
						 data-validation-error-msg="-Username must be between 5-50 characters" data-validation-allowing="' "
							type="text" placeholder="Username" class="form-control" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-4">
						<label for="mypassword">Password:</label> <input name="mypassword"
							type="password" placeholder="Password" class="form-control" />
					</div>
					<div class="form-group col-xs-4">
						<label for="cpassword">Confirm Password:</label> <input name="cpassword"
							type="password" placeholder="Confirm Password" class="form-control"/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6">
						<input name="register" type="submit" class="btn btn-default" value="Create New Account" />
					</div>
				</div>
			</form>
		</div>
		{% endblock %}
	</div>
	{% block footscript %}
 		{{ super() }} 
 		<script type="text/javascript">
			$.validate({
				  validateOnBlur : false, // disable validation when input looses focus
				  errorMessagePosition : $('div.alert-danger'),
				  scrollToTopOnError : false // Set this property to true if you have a long form
				});
		</script>
 	{% endblock %}
</body>
</html>